/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
* Elastic
*/
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

.hamburger {
  display: none;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.page-container {
  width: auto;
  padding: 1em 3em 3em 1em;
  display: grid;
  grid-template-columns: 15% 45% 40%;
  grid-column-gap: 1.5em;
}

.two-columns {
  grid-template-columns: 15% 60%;
}

#ryan-soeyadi h1 {
  font-family: "Great Vibes", cursive;
  font-size: 4.3vw;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.event a {
  z-index: 2;
  font-size: 13px;
}

ul {
  padding-inline-start: 0;
  list-style: none;
}

hr {
  width: 70%;
  margin: 0;
}

h1, h2 {
  margin-bottom: 0;
}

h2 {
  font-size: 19px;
}

#about-title {
  margin-bottom: 1em;
}

p {
  font-size: 0.9em;
}

.video iframe {
  margin-bottom: 2em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin-bottom: 2em;
}

#concerts-list, .upcoming-concerts, .past-concerts {
  display: grid;
  grid-row-gap: 1.5em;
}

.event-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5em;
}

.event-date, .event-location {
  margin: 0;
  padding: 0;
}

.logistics {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.collab-video, .event-description {
  margin-top: 1.5em;
}

.link, .downloads, .purchases, .purchases a {
  font-size: 17px;
  color: #3b3b3b;
  transition: all 0.5s linear;
  position: relative;
}

.link:before, .downloads:before, .purchases:before {
  content: "";
  display: block;
  height: 2.5px;
  background-color: #474747;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: center;
  transform: scale(0);
  transition: 0.4s linear;
}

.downloads:before, .purchases:before {
  width: 100%;
}

.link:before {
  width: 75px;
}

.link:hover:before, .downloads:hover:before, .purchases:hover:before {
  transform: scale(1);
}

#gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

#gallery img {
  box-shadow: 8px 11px 10px #fff;
}

.desktop-icons ul, .mobile-icons ul {
  display: grid;
  grid-template-columns: 40px 40px;
}

.desktop-icons li, .mobile-icons li {
  font-size: 32px;
}

.mobile-icons {
  display: none;
}

.nav-bar li {
  position: relative;
  overflow: visible;
  margin: 12px 0;
  font-size: calc(10px + 0.5vw);
}

#ryan-soeyadi:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.08);
}

.desktop-icons li:hover, .mobil-icons li:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.01);
}

.nav-bar li:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.02);
}

img {
  max-width: 100%;
  height: auto;
  box-shadow: 8px 11px 10px #aaa;
}

img:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.01);
}

#about-img {
  box-shadow: 8px 11px 10px #fff;
}

.heading > h1 {
  line-height: 0;
  /* to align heading with middle row image */
}

.form {
  font-family: "Noto Sans JP", sans-serif;
  max-width: 800px;
  margin: 10px auto;
  padding: 16px;
  background: #ffffff;
}

.form h1 {
  background: #ffffff;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: black;
  margin: -16px -16px 16px -16px;
}

::placeholder {
  color: black;
}

.form input[type=text],
.form input[type=date],
.form input[type=datetime],
.form input[type=email],
.form input[type=number],
.form input[type=search],
.form input[type=time],
.form input[type=url],
.form textarea,
.form select {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #5f5f5f;
  font-family: "Noto Sans JP", sans-serif;
}

.form input[type=text]:focus,
.form input[type=date]:focus,
.form input[type=datetime]:focus,
.form input[type=email]:focus,
.form input[type=number]:focus,
.form input[type=search]:focus,
.form input[type=time]:focus,
.form input[type=url]:focus,
.form textarea:focus,
.form select:focus {
  box-shadow: 0 0 5px #000000;
  padding: 3%;
  border: 1px solid #000000;
}

.form input[type=submit],
.form input[type=button] {
  -webkit-appearance: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #ffffff;
  border: 1px solid #ccc;
  color: black;
}

.form input[type=submit]:hover,
.form input[type=button]:hover {
  background: #ffffff;
}

textarea {
  resize: vertical;
}

.copyright-desktop, .copyright-mobile {
  font-size: 0.8em;
}

.copyright-desktop {
  margin-top: 3em;
  text-align: center;
}

.copyright-mobile {
  display: none;
}

@media (max-width: 1100px) {
  .two-columns {
    grid-template-columns: 15% 90%;
    margin-right: 2em;
  }
}
@media (max-width: 768px) and (orientation: portrait) {
  .modal-content {
    margin-bottom: 100px;
    width: 75%;
  }

  .page-container {
    width: auto;
    padding: 1em 1em 0 1em;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 1.2em;
  }

  .two-columns {
    margin-right: 0;
  }

  .first-column {
    z-index: 2;
    top: 0;
    position: sticky;
    background-color: white;
  }

  #ryan-soeyadi:hover, .desktop-icons li:hover, .mobil-icons li:hover, .nav-bar li:hover, img:hover {
    transition: none;
    transform: none;
  }

  .event-wrapper {
    grid-template-columns: 1fr;
    grid-column-gap: 1.5em;
  }

  .event-wrapper img {
    width: 50%;
  }

  #gallery {
    grid-template-columns: 1fr;
  }

  #ryan-soeyadi h1 {
    font-size: 10vw;
    margin-top: 0.5em;
    padding-bottom: 0.3em;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 1em;
    right: 0;
  }

  .desktop-icons ul {
    display: none;
  }

  .nav-bar li {
    font-size: 1.1em;
  }

  .display-none {
    display: none;
  }

  .heading > h1 {
    font-size: 7vw;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .copyright-desktop {
    display: none;
  }

  .mobile-footer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .mobile-icons {
    display: block;
    justify-self: center;
    grid-row: 2/3;
  }

  .copyright-mobile {
    display: block;
    text-align: center;
    bottom: 0;
    grid-row: 3/4;
  }
}
@media (max-height: 359px) {
  .page-container {
    grid-column-gap: 1.5em;
  }

  .extra-gap {
    grid-column-gap: 3em;
  }

  .nav-bar li {
    font-size: 0.9em;
  }

  .copyright-desktop {
    font-size: 0.4em;
  }
}
@media (min-width: 1281px) {
  .nav-bar li {
    font-size: 1.1qvw;
  }
}
@media (max-width: 320px) {
  .hamburger {
    top: 0.1em;
  }
}
@media (max-height: 320px) and (orientation: landscape) {
  h1 {
    font-size: 28px;
    margin-bottom: 1em;
  }

  #about-title h1 {
    margin-bottom: 1em;
  }

  #collab-title {
    margin-bottom: -0.5em;
  }

  .nav-bar li {
    font-size: 0.6em;
    overflow: visible;
  }

  .event-wrapper:first-of-type {
    margin-top: -2em;
  }
}

/*# sourceMappingURL=style.css.map */
