* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cardo', serif;
}

html,
body {
    height: 100%;
}

body {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 1
}

hr {
    width: 40%;
    height: 1px;
    background-color: black;
    border: none;
}


a {
    color: black;
}

a:visited {
    color: black;
}

ul {
    list-style-type: none;
}

.head {
    position: sticky;
    overflow: hidden;
    z-index: 3;
    top: 0;
    width: 100%;
    background-color: white;
}

.title-heading {
    padding: 0.8em;
    display: inline-flex;
}

.title-heading h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    
}

.title-heading a {
    text-decoration: none;
}

span {
    opacity: 0;
    transition: all 1s ease;
}

span.fade {
    opacity: 1;
}

.hamburger span {
    opacity: 1;
}

nav {
    overflow: hidden;
    display: none;
}

nav a {
    text-decoration: none;
}

#desktop-links {
    display: none;
}

#mobile-links {
    overflow-y: scroll;
    /* make scrollable when too big for screen */
    width: 100vw;
    text-align: center;
    font-size: 1.4em;

    opacity: 0;
    transform: translateX(-320px);
    z-index: 1;
    background-color: white;
    /* so it's not see-through */
}

.fadeIn {
    animation: fadeIn ease 0.9s;
    -webkit-animation: fadeIn ease 0.90s;
    -moz-animation: fadeIn ease 0.90s;
    -o-animation: fadeIn ease 0.90s;
    -ms-animation: fadeIn ease 0.90s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.fadeOut {
    animation: fadeOut ease 0.75s;
    -webkit-animation: fadeOut ease 0.75s;
    -moz-animation: fadeOut ease 0.75s;
    -o-animation: fadeOut ease 0.75s;
    -ms-animation: fadeOut ease 0.75s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

nav ul li {
    margin: 30px 0;
}

.main-container {
    padding: 1.2em;
}

.main-container img {
    width: 100%;

}

.main-container p {
    font-size: 1.1em;
    line-height: 1.7em;
}

footer {
    text-align: center;
    font-size: 0.8em;
    height: 20vh;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#footer-icons li {
    display: inline;
    margin: 3px;

}

.svgs {
    width: 2.2em;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 3;
}

.fun-svgs {}

/* spacing */

.extra-line-space {
    margin-top: 1em;
}

/* spacing */

/* about page */
.about-image-container p {
    font-size: 14px;
    margin-bottom: 1em;

}

/* about page */

/* events page */

.events-container h1 {
    color: rgb(102, 102, 102)
}

.event-container {
    margin-bottom: 1em;
}

.event-container img {
    width: 70%;
    max-width: 350px;
    margin-bottom: 1em;
    box-shadow: 0 8px 8px -4px rgb(132, 132, 132);
}

.event-address {
    color: #727272;
}

.map a {
    color: #EAA24D;
    z-index: 2;
}

.view-details-box {
    border: 2px solid black;
    display: inline-flex;
    padding: 8px;
    margin-top: 1em;
    margin-bottom: 3em;

}

.view-details-box p a {
    color: blue;
}

/* events page */

/* gallery page */

#gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery-container a {
    margin: 10px;
}

#gallery-container img:hover {
    transform: scale(1.05);
    transition: 0.25s;
    cursor: pointer;
}


/* iFrames */

.video {
    /* wrap the video in another element which has an intrinsic aspect ratio */
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.video iframe {
    /* absolute position the video within above container */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.video-container {
    margin-top: 1em;
    margin-bottom: 3.2em;   
}

/* iFrames */

/* collaborative page */

.image-container {
    text-align: center;
}

.downloads {
    font-size: 1.1em;
    margin-top: 1em;
    text-decoration: underline;
}

.downloads a {
    color: blue;
}

.video-performers {
    color: #707070;
}

.go-to {
    color: blue;
}

.go-to:visited {
    color: blue;
    text-decoration: underline;
}

/* collaborative page */


/* arrangements page */

.mn-links {
    display: inline-block;
}

.mn-links a {
    color: blue;
    text-decoration: underline;
}

/* arrangements page */

/* contact page */

.contact-container h1,
.contact-container p {
    margin-bottom: 1em;
}

.form-control {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    padding: 5px;

    border-radius: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: rgb(246, 246, 246);
    background-clip: padding-box;
    display: block;
    width: 100%;
}

.form-control::placeholder {}

input,
textarea {
    line-height: 0px;
    max-width: 1100px;

}

input:active, textarea:active, input:focus, textarea:focus {
    border-color: rgb(0, 0, 0);
    transition: ease 1.3s;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

form p:not(:first-child) {
    margin-top: 2em;
}

textarea {
    height: 9em;
    resize: none;
}

form button {
    width: 50%;
    font-size: 0.9em;
    max-width: 170px;
    color: black(255, 0, 200);
    border-radius: 5em;
    padding: 0.5em;
    box-shadow: 0 8px 8px -4px rgb(102, 102, 102);
    border: 0;
    background-color: rgb(236, 236, 236);
}

/* contact page */


/* media queries */
@media (min-width: 768px) {
    .head {
        position: relative;
        text-align: center;
        font-size: 1.2em;
    }

    .title-heading a:hover {
        color: rgb(112, 112, 112);
        transition: ease 0.4s;
    }

    .main-container {
        display: grid !important;

    }

    footer {
        display: block !important;
    }

    #navigation-bar {
        display: block !important;
        position: relative !important;
    }

    #desktop-links {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #desktop-links li a {
        font-size: 1.2em;
        margin: 0.6em;
    }

    #desktop-links li a:hover {
        color: rgb(112, 112, 112);
        transition: ease 0.4s;
    }


    #mobile-links {
        display: none;
    }

    .main-container {
        margin: 0 5em 3em 5em;
    }

    /* about page */
    #about-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.7em;

    }

    #about-container h1 {
        margin-bottom: 0.4em;
    }

    #about-container p {
        max-width: 50em;

    }

    /* about page */

    /* events page */

    .event-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 4em;
    }

    .event-container img {
        grid-column: 2;
        grid-row: 1;
        max-width: 350px;
        margin-left: 1em;
    }

    .event-info {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .info-container {
        grid-column-start: 2;
    }

    /* events page */

    /* collaborative page */

    .collaborative-container {
        margin-left: 2em;
        margin-right: 5em;
    }

    /* collaborative page */

    /* collaborative AND arrangements page */

    .intro-grid {
        display: grid;
        grid-template-columns: 2fr 0.5fr;
        grid-auto-flow: column;
        grid-column-gap: 3em;
    }

    .grid-1 {
        grid-column-start: 2;
        
    }

    .grid-2 {
        grid-column-start: 1;
        max-width: 1200px;
    }

    /* collaborative AND arrangements page */

}

@media (min-width: 1025px) {
    #desktop-links li a {
        font-size: 1.4em;
        margin: 0.8em;
    }

    /* collaborative page */

    .video-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }


    .collaborative-container {
        margin-left: 2em;
        margin-right: 5em;
    }

    /* collaborative page */

}

/* media queries */